.Logo {
  margin-top: 1vh;
  width: max-content;
  height: 15vh;
  display: flex;
  filter: drop-shadow(10px 10px 10px black);
}

.LogoImg {
  height: 15vh;
  transition: 0.3s;
}

.LogoImg:hover {
  height: 17vh;
}

.headerElement {
  border-bottom: 2px solid white;
  margin-right: 1vw;
  margin-top: 2vh;
  width: 15vw;
  font-size: larger;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px black;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  filter: drop-shadow(10px 10px 10px black);
  color: white;
}

.answerPhoto {
  height: 100%;
}

.answerElement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  margin-top: 3vh;
  width: 15vw;
  text-shadow: 2px 2px black;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  height: 10vh;
  font-size: 1.25em;
  filter: drop-shadow(10px 10px 10px black);
  color: white;
}
.answerRow {
  display: flex;
}
.answerRight {
  background-color: #09a846;
}
.answerWrong {
  background-color: #970606;
}
.answerPartial {
  background-color: #bba607;
}
.answerBelow {
  background-color: #970606;
  background-image: url("./assets/downArrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.answerAbove {
  background-color: #970606;
  background-image: url("./assets/upArrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.answerContainerHeader {
  display: flex;
  align-items: center;
}

@keyframes newAnswerAnim {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.newAnswer {
  animation: newAnswerAnim 0.25s ease-in;
}

.InstructionContainer {
  border-radius: 10px;
  padding: 1%;
  text-align: center;
  text-wrap: wrap;
  width: 40vw;
  color: white;
  font-size: 1.25em;
  text-shadow: 2px 2px black;
  background-color: #353535;
  border: 2px groove #ec4c25;
  filter: drop-shadow(10px 10px 10px black);
  margin-bottom: 2vh;
  background-image: linear-gradient(
      0deg,
      rgba(178, 65, 20, 0.5),
      rgba(53, 53, 53, 0) 10%
    ),
    linear-gradient(90deg, rgba(178, 65, 20, 0.5), rgba(53, 53, 53, 0) 5%),
    linear-gradient(180deg, rgba(178, 65, 20, 0.5), rgba(53, 53, 53, 0) 10%),
    linear-gradient(270deg, rgba(178, 65, 20, 0.5), rgba(53, 53, 53, 0) 5%);
}

.colorContainer {
  margin-top: 2vh;
  justify-content: space-evenly;
  display: flex;
  height: fit-content;
}

.square {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 5vh;
  height: 5vh;
  filter: drop-shadow(5px 5px 5px black);
}

.appContainer {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url("./assets/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.answerContainer {
  max-height: 50vh;
  overflow-y: auto;
}

#answerBar {
  width: 40vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  color: white;
  font-size: 1.1em;
  text-shadow: 2px 2px black;
  background-color: #353535;
  border-radius: 3px;
  border: 2px solid black;
  transition: 0.3s;
  filter: drop-shadow(10px 10px 10px black);
}

#answerBar:focus {
  box-shadow: 0 0 10px 5px #ec4c25;
  outline: none;
}

::placeholder {
  color: rgb(160, 160, 160);
  opacity: 1;
}

::-ms-input-placeholder {
  color: rgb(160, 160, 160);
}

#CharacterList {
  position: absolute;
  z-index: 2;
  margin-top: 0.25vh;
  overflow-y: auto;
  max-height: 40vh;
  width: 40vw;
}

.datalistOption {
  background-color: #353535;
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100%;
  border: none;
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1vh;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 1.5em;
  align-items: center;
  transition: 0.3s;
  column-gap: 1rem;
}

.datalistOption:hover {
  background-color: #4f4f4f;
}

.optionPortrait {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #545454;
}

::-webkit-scrollbar-thumb {
  background: #bababa;
}

::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

.popUp {
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  text-wrap: wrap;
  width: 40vw;
  height: 70vh;
  color: white;
  font-size: 1.25em;
  text-shadow: 2px 2px black;
  background-color: #353535;
  border: 2px groove #ff4516;
  filter: drop-shadow(10px 10px 10px black);
  margin-bottom: 3vh;
  position: absolute;
  z-index: 3;
  top: 15vh;
  left: 30vw;
  background-image: linear-gradient(#cb5233, #353535);
}

.popUp:hover {
  background-image: linear-gradient(#f45027, #5e4944);
}

.opacityBackground {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.imgPopUp {
  border: white solid 2px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, blue, red);
  margin-top: 4vh;
  margin-bottom: 4vh;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.confetti {
  width: 100%;
  height: 100%;
}

.bottomText {
  margin-top: 3%;
}

.buttonReplay {
  color: white;
  filter: drop-shadow(10px 10px 10px black);
  text-shadow: 2px 2px black;
  height: 5vh;
  border: none;
  font-weight: 500;
  font-size: 1.25em;
  background-image: linear-gradient(#d5700a, #7a3500);
  width: 20vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  transition: 0.3s;
}
.buttonReplay:hover {
  background-image: linear-gradient(#e47a0f, #873b01);
  font-weight: 700;
  font-size: 1.4em;
  width: 22vw;
  height: 6vh;
}

.smallLogo {
  width: 50%;
}

.footer {
  position: absolute;
  bottom: 1%;
}
